<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "dtd/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 本地输出源 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE\} %5p %c{1\}:%L - %m%n" />
		</layout>
	</appender>
	<!-- 远程输入源 -->
	<appender name="remoteFile" class="org.apache.log4j.net.SocketAppender">
		<param name="remoteHost" value="localhost" />
		<param name="port" value="4712" />
		<param name="Threshold" value="INFO" />
		<param name="ReconnectionDelay" value="1000" />
		<param name="LocationInfo" value="true" />
	</appender>
	<!-- 定义本地记录器,程序中使用-->
	<logger name="local" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- 定义远程记录器程序中使用 -->
	<logger name="remote" additivity="false">
		<level value="INFO" />
		<appender-ref ref="remoteFile" />
	</logger>
	<!-- root记录器,默认使用-->
	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="remoteFile" />
	</root>
</log4j:configuration>